{% load static %}{% load iconic %}
<!DOCTYPE html>
<html lang="es" xml:lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{% block title %}Gestión Biblioteca{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />

    {% block estilos %}{% endblock %}

    <script type="text/javascript" src="{% static 'scripts/jquery-3.7.1.min.js' %}" ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'scripts/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/scripts_biblioteca.js' %}"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{%url 'pagina_inicio'%}">{% iconic_icon "table-columns" size=50 %}</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'pagina_inicio'%}">Inicio
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Autores</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Libros</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{%url 'listado_lectores'%}">Lectores</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Configuración
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Datos Iniciales</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Gestión Trabajadores</a></li>
                  <li><a class="dropdown-item" href="#">Gestión Proveedores</a></li>
                </ul>
              </li>
            </ul>

            <span class="navbar-text">
              {% if user.is_authenticated %}
                ¡Bienvenido {{ user.get_full_name }}!
              {% else %}
                <p>Por favor inicie sesión.</p>
              {% endif %}
            </span>

            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav-link">
                Salir {% iconic_icon "log-out" %}
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <div class="row">
      <div class="col-12 text-center">
        {% block cabecera %}
        <h1>Sistema de Gestión de Biblioteca</h1>
        {% endblock %}
      </div>
    </div>

    <main
      class="container contenido-principal"
    >
      {% block content %}
      <!-- El contenido específico de cada página se insertará aquí -->
      {% endblock %}
    </main>

    <hr />
    <footer>
      <p>&copy; 2025 Erick Bailey</p>
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
