{% extends 'plantilla_base.html' %} {% load static %} {% block title %}Listado
Autores{% endblock%} {% block cabecera %} {% endblock %} {% block content %}
<h1>Listado de Autores</h1>
<table id="tabla_autores" class="cell-border">
  <thead>
    <tr>
      <th>N°</th>
      <th>Nombre</th>
      <th>Pseudónimo</th>
      {% comment %} <th></th> {% endcomment %}
      {% comment %} <th>Nacionalidad</th> {% endcomment %}
      <th>Biografía</th>
    </tr>
  </thead>
  <tbody>
    {% for autor in autores %}
    <tr>
      <td>{{ autor.id }}</td>
      <td>{{ autor.nombre }}</td>
      <td>{{ autor.pseudonimo }}</td>
      {% comment %} <td><img src="{{ autor.imagen_autor }}" alt="{{ autor.nombre }}" width="100" height="100"></td> {% endcomment %}
      {% comment %} <td>{{ autor.id_nacionalidad }}</td> {% endcomment %}
      <td>{{ autor.biografia }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="{% static 'scripts/listados_datatables.js' %}"
></script>
{% endblock %}
