{% extends 'plantilla_base.html' %} {% load static %}{% load iconic %} {% block title %}Listado
Nacionalidades{% endblock%} {% block estilos %}<link rel="stylesheet" href="{% static 'css/estilos_libros.css' %}"
/>{% endblock %} {% block cabecera %}
<h1>Listado de Nacionalidades</h1>
{% endblock %} {% block content %}   
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock %} {% block scripts %}
    <script type="text/javascript" src="{% static 'scripts/scripts_biblioteca.js' %}"></script>
{% endblock %}
